/* Define media queries based on breakpoints */
@media (max-width: 480px) {
    .category-list {
        padding: 50px 20px;
    }
}

@media (max-width: 1000px) {
    .listings {
        padding: 0 20px 120px;
    }
}

.category-list {
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.category-list .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #969393;
    /* Dark Grey */
    cursor: pointer;
}

.category-list .category .category_icon {
    font-size: 30px;
}

.category-list .category p {
    font-size: 18px;
    font-weight: 700;
}

.category-list .category:hover {
    color: #f8395a;
    /* Pink Red */
}

.category-list .selected {
    color: #f8395a;
    /* Pink Red */
}

.listings {
    padding: 20px 120px 50px 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* Add padding adjustments for larger screens */
@media (max-width: 1000px) {
    .listings {
        padding: 0 20px 120px;
    }
}